html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
.container {
	font-family: Roboto, Sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4 {
	font-family: Roboto slab;
}

.page_title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 2%;
	background-color: #FD3C3C;
	color: #ffffff;
}

.page_title span {
	font-weight: 600;
}

.heading {
	width: 96%;
	margin: auto;
	margin-top: 60px;
	color: #4c4c4c;
	font-weight: 300;
}

.heading a {
	color: #b2b2b2;
}

.show_more {
	text-align: center;
	margin-top: 2%;
	font-size: 0.8em;
}

.show_more a {
	border-bottom: 1px solid #a6a6a6;
	padding: 10px 25px 5px 25px;

}

.menu_bar {
	width: 100%;
	font-family: Roboto slab, Sans-serif;
	background-color: #fbfbfb;
	margin-bottom: -14px;
}

.menu_bar ul {
	height: 65px;
	border-top: 1px solid #d8d8d8;

}

.menu_bar ul li {
	display: inline-block;
	margin-left: 1.5%;
	padding-right: 1.5%;
	border-right: 1px solid #d8d8d8;
	height: 65px;
	line-height: 65px;
	font-size: 1.1em;
}

.menu_bar ul li a {
	text-decoration: none;
	color: #d8d8d8;
}

.active_panel {
	color: #F45B69;
}

.chat_panel {
	background-color: #FF6262;
	width: 100%;
	height: 700px;

}

.chat_panel .dialogue table {
	width: 95%;
	margin: auto;
	padding-left: 2%;
	border-left: 3px solid #FD3C3C;
	position: relative;
	top: 30px;
}

table p {
   	position: relative;
   	border-radius: 5px;
   	display: inline-block;
   	height: 60px;
   	line-height: 60px;
   	padding: 0 10px;
   	margin: 5px 10px 5px 0;

}

table p:before {
	content:"";
   	position: absolute;
   	right: 100%;
   	top: 22px;
   	width: 0;
   	height: 0;
   	border-top: 8px solid transparent;
   	border-right: 16px solid red;
   	border-bottom: 8px solid transparent;
}

.text_bubble1 {
	background-color: #FF9F1C;
}

.text_bubble1:before {
   	border-right: 16px solid #FF9F1C;
}

.text_bubble2 {
	background-color: #2EC4B6;
}

.text_bubble2:before {
   	border-right: 16px solid #2EC4B6;
}

.text_bubble3 {
	background-color: #FDFFFC;
}

.text_bubble3:before {
   	border-right: 16px solid #FDFFFC;
}

.text_bubble4 {
	background-color: #5CA4A9;
}

.text_bubble4:before {
   	border-right: 16px solid #5CA4A9;
}

.text_bubble5 {
	background-color: #E6EBE0;
}

.text_bubble5:before {
   	border-right: 16px solid #E6EBE0;
}
.name {
	width: 6%;
	font-size: 1.2em;
	color: white;
}

.chat_panel .dialogue .time_sent {
	width: 15%;
	text-align: right;
	color: #d8d8d8
}

.say_something form {
	margin-top: 60px;
	margin-left: 5%;
	width: 45%;
	height: 50px;
	line-height: 50px;
	background-color: #FF8A8A;
	text-align: center;
	box-shadow: 1px 1px 2px #FD3C3C;
}

.say_something input {
	border: none;
	border-bottom: 3px solid #d8d8d8;
	width: 60%;
	padding-bottom: 5px;
	background-color: #FF8A8A;
	color: #d8d8d8;
	font-size: 1em;
}

.say_something button {
	border: none;
	font-size: 1em;
	font-family: roboto-slab;
	background-color: #FF8A8A;
	color: white;
	height: 28px;
	border-left: 1px solid #FD3C3C;
	margin-left: 24%;
	padding-left: 3%;
}

